<footer class="bg-dark text-white py-3 mt-auto footer" style="width: 100vw; margin-left: calc(-50vw + 50%);">
    <div class="container-fluid px-0">
        <div class="text-center px-4">
            <p class="mb-0">&copy; 2023 ConcertHub. All rights reserved.</p>
            <div class="mt-2">
                <a href="/about" class="text-white-50 mx-2 text-decoration-none hover-underline">About Us</a>
                <a href="/contact" class="text-white-50 mx-2 text-decoration-none hover-underline">Contact</a>
                <a href="/privacy" class="text-white-50 mx-2 text-decoration-none hover-underline">Privacy Policy</a>
                <a href="/terms" class="text-white-50 mx-2 text-decoration-none hover-underline">Terms of Service</a>
            </div>
        </div>
    </div>
</footer>
